/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pretendard";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Stardom-Regular";
    src: url("/fonts/stardom/Stardom-Regular.woff2") format("woff2"),
        url("/fonts/stardom/Stardom-Regular.woff") format("woff"),
        url("/fonts/stardom/Stardom-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Cooper-Black-Regular";
    src: url("/fonts/COOPBL.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cafe24Meongi-W-v1.0";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Pretendard", "Stardom-Regular";
    background-color: #7297b2;
    color: white;
}

.circle-text {
    animation: rotate 10s linear infinite;
}

.marquee {
    /* position: absolute; */
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
    animation-duration: 32s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: marquee;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 스크롤바 커스텀 */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: white; */
    border-radius: 5px;
    height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: white; */
}

/* 프로젝트 역할 줄띄움 기능 */
.preformatted-text {
    white-space: pre-line;
}
